.burger-btn {
    width: 4rem;
    height: 2.5rem;
    // overflow: hidden;
    padding: 5px;
    display: grid;
    place-items: center;
    background-color: #000;
    position: relative;
    margin: auto;

    &:hover span:first-child {
        transform: rotate(45deg);
    }

    &:hover span:nth-child(2) {
        opacity: 0;
    }

    &:hover span:nth-child(3) {
        transform: rotate(-45deg);
    }

    span {
        width: 100%;
        height: .3rem;
        position: absolute;
        left: 0;
        transition: all .3s linear;
        margin: 0 auto;
     

        &:first-child {
            background-color: #888;
            top: 0;

        }
        &:nth-child(2){
            background-color: #888;
            top: 1.1rem;
           
        }
        &:nth-child(3){
            background-color: #888;
            top: 2.2rem;

        }
    }
}